.combo-box {
    -fx-background-radius: 25 0 0 25;
    -fx-border-radius: 25;
}

/* Для выпадающего списка */
.combo-box-popup .list-view {
    -fx-background-radius: 0 0 25 25;
}

/* Для редактируемого текстового поля */
.combo-box .text-field {
    -fx-background-radius: 25 0 0 25;
}

.combo-box .text-field {
    -fx-font-size: 24px;
    -fx-font-family: "JejuGothic";
}

/* Обычный стиль для кнопки */
.hover-button {
    -fx-background-color: #FF847C;
}

/* Стиль для кнопки при наведении мыши */
.hover-button:hover {
    -fx-background-color: #FF6F61;  /* Например, темный оттенок */
    -fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.09), 60, 5, 0, 0);
}

.hover-button:pressed {
    -fx-scale-x: 0.95;  /* Уменьшаем кнопку по горизонтали */
    -fx-scale-y: 0.95;  /* Уменьшаем кнопку по вертикали */
}

/* Основные стили таблицы */
.table-view {
    -fx-background-color: #2A363B;
}

/* Заголовки столбцов */
.table-view .column-header {
    -fx-background-color: #fecea8;
    -fx-border-color: #2A363B;
    -fx-border-width: 0 3 0 0;
    -fx-font-weight: bold;
}

/* Ячейки таблицы */
.table-view .table-cell {
    -fx-text-fill: WHITE;
    -fx-padding: 8 10;
    -fx-border-color: transparent transparent #E8E8E8 transparent;
    -fx-font-size: 14px;
}

/* Строки */
.table-row-cell {
    -fx-background-color: #2A363B;
    -fx-cell-size: -1; /* Высота ячеек */
}

/* Чередование цветов строк */
.table-row-cell:odd {
    -fx-background-color: #324147;
}

/* Выделенная строка */
.table-row-cell:selected {
    -fx-background-color: #fecea8;
    -fx-text-fill: #2A363B;
}

/* Полоса прокрутки */
.table-view .scroll-bar:vertical {
    -fx-background-color: #2A363B;
}

/* Ползунок полосы прокрутки */
.table-view .scroll-bar:vertical .thumb {
    -fx-background-color: #fecea8;
    -fx-background-radius: 5;
}